body {
  display: flex;
  justify-content: center;
  background-color: rgb(240, 240, 240);
}

.lado-esquerdo {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.lado-direito {
  width: 50%;
}

.celular {
  width: 50%;
}

.cadastre {
  display: flex;
}

.aplicativo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-top: 10px;
}

.quadro-branco {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(220, 220, 220);
  width: 60%;
  padding: 30px;
  align-items: center;
  margin: 10px;
}

.quadro-branco:nth-child(1) {
  margin-top: 50px;
}

.loja {
  margin-top: 20px;
}

.android {
  width: 150px;
}

.apple {
  width: 150px;
}
.dados {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

input {
  width: 20rem;
  height: 2.5rem;
  margin: 5px;
}

.texto-entrar {
  background-color: #0095f6;
  width: 20rem;
  height: 2.5rem;
  border-radius: 5px;
  font-size: larger;
  color: white;
  border: 0;
  margin-top: 20px;
}

.texto-facebook {
  margin-top: 20px;
  background-color: white;
  border: 0px;
  color: darkslateblue;
  font-size: larger;
}

.texto-esqueceu {
  margin-top: 20px;
  background-color: white;
  border: 0px;
  color: darkslateblue;
  font-size: medium;
}

.ou {
  display: flex;
  margin-top: 20px;
  height: 30px;
  align-items: center;
}

.linha {
  background-color: lightgray;
  width: 125px;
  height: 3px;
}

.texto-ou {
  margin: 0px 25px;
}

.logo {
  width: 206px;
  height: 58px;
  background-image: url("./instagram-logo.png");
}
